- content_for :title do
  EiuELearning 
  \| 
  New enrollment
%br
.container
  .card
    .card-header
      %h3
        .fa.fa-graduation-cap
        = link_to @course.title, course_path(@course)
        %hr
        .fa.fa-lock-open
        Enroll the course for free
    .card-body
      = form_tag course_enrollments_path(@course) do
        = submit_tag "Confirm", class: 'btn btn-lg btn-success'
    .card-footer
      = link_to 'Back', course_path(@course)